<!DOCTYPE html>
<html>
<head>
<title>LIST CARS</title>
<meta charset="utf-8" />
</head>
<body>

<h2>LIST CARS</h2>

<?php
// List of new and used cars
try {
    $conn = new PDO("mysql:host={{ replica_ip }};dbname=cars", "{{ mysql_php_user }}", "{{ mysql_php_password }}");
    $tbs = "SHOW TABLES";
    $tbarray = $conn->query($tbs);
    while($tb = $tbarray->fetch()){
    echo "<h3>List " . $tb["0"] . "</h3>";
    echo "<table><tr><th>N</th><th>Name</th><th>Year</th><th>Price</th></tr>";
    $sql = "SELECT * FROM $tb[0]";
    $result = $conn->query($sql);
    while($row = $result->fetch()){
        echo "<tr>";
            echo "<td>" . $row["id"] . "</td>";
            echo "<td>" . $row["name"] . "</td>";
            echo "<td>" . $row["year"] . "</td>";
            echo "<td>" . $row["price"] . "</td>";
            echo "<td><a href='update.php?tb=" . $tb["0"] . "&id=" . $row["id"] . "'>Edit...</a></td>";
        echo "</tr>";
    }
    echo "</table>";
    }
}
catch (PDOException $e) {
    echo "Database error: " . $e->getMessage();
}
?>

<hr />

<?php
// Add a car to database
if (isset($_POST["tb"]) && $_POST["name"]) && isset($_POST["year"]) && isset($_POST["price"])) {
     
    try {
        $conn = new PDO("mysql:host={{ data_ip }};dbname=cars", "{{ mysql_php_user }}", "{{ mysql_php_password }}");
        $sql = "INSERT INTO :tb (name, year, price) VALUES (:name, :year, :price)";
        // определяем prepared statement
        $stmt = $conn->prepare($sql);
        // привязываем параметры к значениям
        $stmt->bindValue(":tb", $_POST["tb"]);
        $stmt->bindValue(":name", $_POST["name"]);
        $stmt->bindValue(":year", $_POST["year"]);
        $stmt->bindValue(":price", $_POST["price"]);
        // выполняем prepared statement
        $affectedRowsNumber = $stmt->execute();
        // если добавлена как минимум одна строка
        if($affectedRowsNumber > 0 ){
            echo "Data successfully added: tb=" . $_POST["tb"] ."   name=" . $_POST["name"] ."  year=" . $_POST["year"] . "  price=" . $_POST["price"];  
        }
    }
    catch (PDOException $e) {
        echo "Database error: " . $e->getMessage();
    }
}
?>

<h3>Add a new car:</h3>
<form method="post">
    <p>New or used:
    <input type="text" name="tb" /></p>
    <p>Name:
    <input type="text" name="name" /></p>
    <p>Year of manufacture:
    <input type="year" name="year" /></p>
    <p>Price:
    <input type="number" name="price" /></p>
    <input type="submit" value="Add">
</form><br />

<h3>Add an used car:</h3>
<form method="post">
    <p>Name:
    <input type="text" name="used_name" /></p>
    <p>Year of manufacture:
    <input type="year" name="used_year" /></p>
    <p>Price:
    <input type="number" name="used_price" /></p>
    <input type="submit" value="Add">
</form>

</body>
</html>
